name: "Build and deploy docs"
on:
  push:
    branches:
      - main
  release:
    types: [ published ]
  workflow_dispatch:

jobs:
  docs:
    name: Build Documentation
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        lfs: false

    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@v5
      with:
        python-version: '3.10'
        enable-cache: true
        cache-dependency-glob: "pyproject.toml"

    - name: Install dependencies with uv
      run: uv sync --extra doc

    - name: strip output except plots and prints from tutorial notebooks
      run: |
        uv run python tests/strip_notebook_outputs.py tutorials/

    - name: convert notebooks to markdown
      run: |
        cd docs
        uv run jupyter nbconvert --to markdown ../tutorials/*.ipynb --output-dir docs/tutorials/

    - name: Configure Git user for bot
      run: |
        git config --local user.email "github-actions[bot]@users.noreply.github.com"
        git config --local user.name "github-actions[bot]"

    - name: Build and deploy dev documentation upon push to main
      if: ${{ github.event_name == 'push' }}
      run: |
        cd docs
        uv run mike deploy dev --push

    - name: Build and deploy the lastest documentation upon new release
      if: ${{ github.event_name == 'release' }}
      run: |
        cd docs
        uv run mike deploy ${{ github.event.release.name }} latest -u --push
