name: Tests

on: [pull_request, workflow_dispatch]

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    if: |
      github.event_name == 'push' ||
      (github.event_name == 'pull_request' && github.event.pull_request.draft == false)
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.9', '3.12']

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        lfs: false

    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@v5
      with:
        python-version: ${{ matrix.python-version }}
        enable-cache: true

    - name: Install dependencies with uv
      run: |
        uv pip install torch --extra-index-url https://download.pytorch.org/whl/cpu
        uv pip install -e .[dev]

    - name: Cache testmon data
      uses: actions/cache@v4
      with:
        path: .testmondata
        key: testmon-${{ github.ref }}-${{ github.sha }}
        restore-keys: |
          testmon-${{ github.ref }}-
          testmon-

    - name: Run the fast CPU tests with coverage
      run: |
        uv run pytest --testmon-forceselect -v -x -n auto	-m "not slow and not gpu" --cov=sbi --cov-report=xml tests/

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4
      with:
        env_vars: OS,PYTHON
        file: ./coverage.xml
        flags: unittests
        name: codecov-sbi-fast-cpu
        token: ${{ secrets.CODECOV_TOKEN }}
