name: Docs

on:
  push:
    branches:
    - master

jobs:
  build:
    name: Docs
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1
      with:
        lfs: true
        
    - uses: actions/setup-python@v1
      with:
        python-version: '3.7.6'
        architecture: 'x64'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[dev]
        pip install mkdocs==1.1
        pip install mkdocs-material==4.6.3
        pip install mkdocstrings==0.10.0
        pip install mkdocs-redirects==1.0.0
        pip install mknotebooks==0.3.5
        pip install pymdown-extensions==6.3
    - name: Build docs
      run: |
        cd docs && mkdocs build
    - name: Deploy docs to gh-pages
      uses: s0/git-publish-subdir-action@master
      env:
        REPO: self
        BRANCH: gh-pages
        FOLDER: docs/site
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
