name: Tests

on:
  push:
    branches:
    - master
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Tests
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v1
      with:
        lfs: true
        
    - uses: actions/setup-python@v1
      with:
        python-version: '3.7.6'
        architecture: 'x64'
    
    - name: Checkout private dep nflows
      uses: actions/checkout@v2
      with:
        repository: mackelab/nflows
        token: ${{ secrets.access_pyknos_nflows_private }}
        path: nflows
        
    - name: Checkout private dep pyknos
      uses: actions/checkout@v2
      with:
        repository: mackelab/pyknos
        token: ${{ secrets.access_pyknos_nflows_private }}
        path: pyknos
        
    - name: Install private deps
      run: |
        python -m pip install --upgrade pip
        pwd
        cd pyknos
        pip install -e .
        cd ../nflows
        pip install -e .

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .[dev]

    - name: Test with pytest
      run: |
        pip install torchtestcase
        pip install pytest
        pytest
